{% extends "base/wrapper.html" %}
{% load static %}
{% block content %}
<style>
    .image_product{
        width: 100%;
    }

    .category {
	width              : 100px;
	height             : 26px;
	border: 0;
	-webkit-appearance : none;
	background-image   : url(" {% static 'images/icons/arrow.svg' %}");
	background-position: right center;
	background-repeat  : no-repeat;
	line-height        : 1em;
	/* for FF */
	-moz-appearance    : none;
	text-indent        : 0.01px;
	text-overflow      : '';
	/* for IE */
	-ms-appearance     : none;
}

  </style>
</style>
{{ request.path}}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="nav">
                <div class="row">
                    <div class="col-md-6">
                        <form action='.' method='get' id='sort'>
                        <select class="category" id="category" name="s">
                            <option>Категория</option>
                            {% if category %}
                            {% for item in category %}
                            <option value='{{item.id}}'>{{item}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <select class="category">
                            <option>Новые</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="list-product mt-5">
                {% if object_list%}
                {% for product in object_list %}
                <div class="row item-product mt-5">
                    <div class="col-xl-3 col-md-3 col-sm-12">
                        <div class="row  w-100 d-flex justify-content-center align-items-center">
                            <img class="image_product" src="{{ product.images.first.url.url }}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-md-9 col-sm-12">
                        <h4><a href="{% url 'product' product.pk %}">{{ product.title }}</a></h4>
                        <p>{{ product.description|safe|truncatechars:200}}</p>
                        <spa>Цена: {{ product.price}} руб</spa>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$('#category').on('change', function(){
$('#sort').submit();
});
</script>
{% endblock %}
