{% extends "base/wrapper.html" %}
{% load static %}
{% block content %}
<style>
    .image_product{
        width: 100%;
        height: 100%;
    }
    .category {
	width              : 100px;
	height             : 26px;
	border: 0;
	-webkit-appearance : none;
	background-image   : url(" {% static 'images/icons/arrow.svg' %}");
	background-position: right center;
	background-repeat  : no-repeat;
	line-height        : 1em;
	/* for FF */
	-moz-appearance    : none;
	text-indent        : 0.01px;
	text-overflow      : '';
	/* for IE */
	-ms-appearance     : none;
}
    .back-page a{
        color: #666666;
        font-size: 16px;
    }
    .slider {
      position: relative;
      overflow: hidden;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-100%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>img {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
    .description{
        line-height: 27px;
        font-size: 1rem;
    }
  </style>
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="list-product mt-5">
                {% if object%}
                <div class="row back-page ">
                    <div class="col-2"?>
                    <img src="{% static 'images/icons/back_page.svg'%}">
                    <a href="/">Назад</a>
                    </div>
                </div>
                <div class="row item-product mt-5 d-flex justify-content-center">
                    <div class="col-xl-4 col-md-4 col-sm-12">
                        <div class="row d-flex justify-content-center align-items-center">
                            {% if object.images.count > 1 %}
                            <div class="slider">
                                <div class="slider__wrapper">
                                    {% for image in object.images.all %}
                                    <div class="slider__item">
                                    <img class="image_product" src="{{ image.url.url }}">
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="slider__control slider__control_left" href="#" role="button"></a>
                                <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
                              </div>
                              {% else %}
                              <img class="image_product" src="{{ object.images.last.url.url }}">
                              {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12 pl-5">
                        <h4>{{ object.title }}</h4>
                        <p class="description">
                        {% if object.phone_number %}
                        <span>Номер телефона: {{object.phone_number}}</span><br>
                        {% endif %}
                        {% if object.vk_profile %}
                        <span>Вконтакте: {{object.vk_profile}}</span><br>
                        {% endif %}
                        {% if object.whats_app_profile %}
                        <span>Номер телефона WhatsApp: {{object.whats_app_profile}}</span><br>
                        {% endif %}
                        {% if object.telegram_profile %}
                        <span>Номер телефона Telegram: {{object.telegram_profile}}</span><br>
                        {% endif %}
                        <span>Цена: {{ object.price}} руб</span>
                        </p>
                    </div>
                </div>
                {% endif %}
                <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-xl-8 mt-5 col-md-8 col-sm-12">
                    <h4 class="text-center" >Описание</h4>
                    <p class="description">
                        {{object.description|safe}}
                    </p>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
     var multiItemSlider = (function () {
      return function (selector, config) {
        var
          _mainElement = document.querySelector(selector), // основный элемент блока
          _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
          _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
          _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
          _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
          _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
          _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
          _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента
          _positionLeftItem = 0, // позиция левого активного элемента
          _transform = 0, // значение транфсофрмации .slider_wrapper
          _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
          _items = []; // массив элементов

        // наполнение массива _items
        _sliderItems.forEach(function (item, index) {
          _items.push({ item: item, position: index, transform: 0 });
        });

        var position = {
          getItemMin: function () {
            var indexItem = 0;
            _items.forEach(function (item, index) {
              if (item.position < _items[indexItem].position) {
                indexItem = index;
              }
            });
            return indexItem;
          },
          getItemMax: function () {
            var indexItem = 0;
            _items.forEach(function (item, index) {
              if (item.position > _items[indexItem].position) {
                indexItem = index;
              }
            });
            return indexItem;
          },
          getMin: function () {
            return _items[position.getItemMin()].position;
          },
          getMax: function () {
            return _items[position.getItemMax()].position;
          }
        }

        var _transformItem = function (direction) {
          var nextItem;
          if (direction === 'right') {
            _positionLeftItem++;
            if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
              nextItem = position.getItemMin();
              _items[nextItem].position = position.getMax() + 1;
              _items[nextItem].transform += _items.length * 100;
              _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
            }
            _transform -= _step;
          }
          if (direction === 'left') {
            _positionLeftItem--;
            if (_positionLeftItem < position.getMin()) {
              nextItem = position.getItemMax();
              _items[nextItem].position = position.getMin() - 1;
              _items[nextItem].transform -= _items.length * 100;
              _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
            }
            _transform += _step;
          }
          _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
        }

        // обработчик события click для кнопок "назад" и "вперед"
        var _controlClick = function (e) {
          if (e.target.classList.contains('slider__control')) {
            e.preventDefault();
            var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
            _transformItem(direction);
          }
        };

        var _setUpListeners = function () {
          // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
          _sliderControls.forEach(function (item) {
            item.addEventListener('click', _controlClick);
          });
        }

        // инициализация
        _setUpListeners();

        return {
          right: function () { // метод right
            _transformItem('right');
          },
          left: function () { // метод left
            _transformItem('left');
          }
        }

      }
    }());

    var slider = multiItemSlider('.slider')

</script>
{% endblock %}